body {
    background-image: url(../HTML/imagenes/fondo_registrarse.jpg);
	
    	
background-size: cover;
}
#tumami {
    
    background-image: linear-gradient(to right,#5a5ab9,#cccccc);

}
#usuario2 {
    color: rgb(0, 0, 0);
}

#remember {
    color: azure;
}
#registrate {

    background-image: linear-gradient(to right,#cccccc, #5a5ab9);
    
}