*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
} 
body{
    background-image: url(../Img/9b3f39aecef4e0e567d205188ec959d1_x16_drawing.png);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text{
    display: flex;
    color: aliceblue;
    justify-content: center;
    margin-top: 95px;
}

.text1{
    display: flex;
    color: aliceblue;
    justify-content: center;
    margin-top: 95px;
}

.ShopNow{
    color: #dadae7;
    width: 130px;
    height: 40px;
    margin-top: 100px;
    background-color:#512DA8;
    border: 0cap;
}



.foto1{
    width: 225px;
    height: 170px;
    margin-top: 190px;
    margin-right: 50px;
}

.foto2{
    width: 225px;
    height: 170px;
    margin-top: 190px;
}

.foto3{
    width: 225px;
    height: 170px;
    margin-top: 190px;
    margin-left: 50px;
}

.img1{
    border-radius: 15px;
    margin: 0 auto;
    display: block;
    width: 600px;
    margin-top: 130px;
}


.img{
    border-radius: 15px;
    margin-right: 100px;
    display: block;
    width: 531px;

}


.contenedor {
    display: flex;
    align-items: center; /* Centra verticalmente */
    margin: 80px;
}


.text5{
    color: aliceblue;
}

.text8{
    color: #dadae7
}



.container {
    max-width: 1100px;
    margin: 0 auto;
}

.back{
    height: 5vh;
    padding: 32px 0;
    background-color: #5a5ab9;
    opacity: 0.5;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    width: 30px;
    height: 30px;
   

}
.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ebcee6;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #e69cd6;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}


@media(max-width:991px){

    .menu{
        padding: 30px;
    }
    .menu label {
        display: initial;
    }

    .back{
        padding: 40px 0;
    }

    .menu .navbar{

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color:  #707093;
        display: none;
    }

    .menu .navbar ul li {

        width: 100%;
    }

    #menu:checked ~ .navbar{

        display: initial;
    }


}


.buscador input{

    width: 300px;
    height: 25px;
    background-color: rgb(rgba(248, 172, 232, 0.171));
}

.contenedor2{
        align-items: center; /* Centra verticalmente */
        margin: -80px;
        display: flex;   
}
.img34{
    border-radius: 15px;
    margin-right: 100px;
    width: 350px;
    height: 350px;
    margin-top: 50px;
}
.img35{
    border-radius: 15px;
    margin-right: 100px;
    height: 350px;
    width: 350px;
    margin-bottom: -150px;
    margin-left: -100px;
}

