input {
	font:inherit;
}
section {
	min-height: 10vh ;
	display: flex;
	align-items: center;
    width: 100%;
}
form {
	margin: 20px;
}
form > div {
	display: flex;
	background:#ffffffb9;
	padding: 9px 22px 9px 26px;
	border-radius: 30px;
	border:2px solid #6d006475;
	box-shadow: rgba(255, 255, 255, 0) -8px -8px 15px,
		rgba(0, 0, 0, 0.1) 10px 10px 10px,
		rgba(255, 255, 255, 0.5) -8px -8px 15px inset,
		rgba(0, 0, 0, 0.1) 10px 10px 10px inset;
}
form input {
	border:none;
	background: transparent;
	font-weight: bold;
	padding-left: 24px;
	background-image: url(../Imagenes/search_icon.png);
	background-size: 16px;
	background-repeat: no-repeat;
	width: 0px;
	transition: all 1s;
}
form input:focus {
	outline: none;
	width: 300px;
}